[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = suggestion

# IDE0011: Add braces
csharp_prefer_braces = false:suggestion

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable:silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true
